body {
	margin: 0;
	font-size: 14px;
	font-family: sans-serif;
}

h2 {
	font-weight: 100;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 15px;
}
.image {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
}
.image-one {
	background: url('../img/1.jpg') center no-repeat;
	background-size: cover;
	transition: all 1s;
}
.image-one:hover {
	box-shadow:0 0 0 128px rgba(0, 0, 0, 0.5) inset;
}

.image-two {
	background: url('../img/2.jpg') center no-repeat;
	background-size: cover;
	transition: all 0.5s;
	opacity:0.25;
}

.image-two:hover {
	box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.5) inset;
	opacity:1;
}
.image-three {
	background: url('../img/3.jpg') center no-repeat;
	background-size: cover;
	transition: all 2s;
}
.image-three:hover {
	box-shadow:0 0 0 128px rgba(0, 0, 0, 0.5) inset;
}
.image-four {
	background: url('../img/4.jpg') center no-repeat;
	background-size: cover;
	transition: all 0.2s;
	opacity:0.25;
}
.image-four:hover {
	opacity:1;
}

.button-one {
	border: none;
	font-weight: 700;
	font-size: 14px;
 color: white;
 padding: .8em 1em calc(.8em + 3px);
 border-radius: 3px;
 background: rgb(64,199,129);
 box-shadow: 0 -3px rgb(53,167,110) inset;
 transition: 0.2s;
 opacity:1;
}

.button-one:hover {
	opacity:0.5;	
}
.button-two {
display: block;
width: 100px;
height: 40px;
color: white;
padding: .5em 2em;
border: none;
border-width: 2px 0;
border-style: solid none;
border-color: #FDBE33 #000 #D77206;
border-radius: 6px;
background: linear-gradient(#F3AE0F, #E38916) #E38916;
transition: 0.2s;
}

.button-two:hover {
	transition: all 0.5s ease;
	width:105px;
	height: 42px;
	color: red;
	font-weight: 700;
}
