/*Fonts*/
@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu-Regular.eot');
  src: url('Ubuntu-Regular.eot?#iefix') format('embedded-opentype'), url('Ubuntu-Regular.woff2') format('woff2'), url('Ubuntu-Regular.woff') format('woff'), url('Ubuntu-Regular.ttf') format('truetype'), url('Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuBold';
  src: url('Ubuntu-Bold.eot');
  src: url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype'), url('Ubuntu-Bold.woff2') format('woff2'), url('Ubuntu-Bold.woff') format('woff'), url('Ubuntu-Bold.ttf') format('truetype'), url('Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors */
/* Basic settings */
html {
  font-size: 10px;
}
body {
  background: url('../img/bg.jpg') 0 0 repeat;
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2 {
  color: #0bbaf0;
  text-align: center;
  line-height: 2rem;
  text-transform: uppercase;
}
h1 {
  margin-top: 8rem;
  font-family: 'UbuntuBold', sans-serif;
  font-weight: 900;
  font-size: 3.6rem;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 5rem;
}
h2::after {
  content: '';
  display: block;
  background-color: #c4c4c4;
  margin-top: 2.5rem;
  position: absolute;
  left: 50%;
  margin-left: -62px;
  width: 124px;
  height: 1px;
}
.pnl {
  margin-left: auto;
  margin-right: auto;
  width: 838px;
  padding: 0;
}
.p-head {
  padding: 0;
}
.p-tit {
  margin-left: -11px;
  background-color: #0bbaf0;
  text-align: center;
  line-height: 54px;
  width: 860px;
  height: 54px;
  font-size: 23px;
  color: #ffffff;
  font-weight: 400;
}
.p-body {
  font-weight: 400;
  text-align: left;
  font-size: 22px;
  line-height: 25px;
  color: #535353;
  border: 4px solid #dcdcdc;
  border-radius: 0 0 10px 10px;
  padding-bottom: 3rem;
}
.p-def {
  border: none;
}
