@import url(main.css);
*{
  box-sizing: border-box;
}

html {
  background-color: #c6d3da;
}
.head {
  height: 60px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 20px;
  background-color: #000000;
}
.text-head {
  color: #ffffff;
  height: 150px;
}
.menu {
  display: inline-block;
  height: 60px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 50%;
}
.menu a {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}
body {
  padding: 0 5px;
  position: absolute;
  top: 75px;
}