* {
  box-sizing: border-box;
}

.box {
position: absolute;
left: 50%;
margin-left: -600px;
top: 50%;
margin-top: -500px;
width: 1200px;
height: 1000px;
background-color: #cccccc;
}

.block {
  width:300px;
  height: 400px;  
  position: absolute;
  background-color: #ffffff;
  border: 2px solid #aaaaaa;
  padding: 20px 30px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -200px;
}